<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Bienvenue AWS Promo4</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 h-screen flex items-center justify-center">
  <div class="bg-white shadow-2xl rounded-3xl p-10 text-center w-[500px]">
    <h1 class="text-4xl font-extrabold text-indigo-600 mb-4">👋 Bienvenue !</h1>
    <p class="text-gray-700 text-lg font-medium">
      Vous êtes dans la <span class="text-purple-600 font-semibold">classe AWS Promo4 - Session 1</span>.
    </p>
    <p class="mt-2 text-gray-600">Préparez-vous à devenir des experts du cloud ☁️ et du DevOps 🔧 !</p>
    <a href="" class="inline-block mt-6 bg-indigo-600 text-white px-5 py-2 rounded-xl hover:bg-indigo-700 transition">Actualiser</a>
  </div>
</body>
</html>
